*.pyc
*.db
.installed.cfg
parts
develop-eggs
bin
eggs
downloads
lib
build
.project
.pydevproject
include
.settings
TAGS
.idea
/Include
/include
/Lib
/lib
.env
Procfile
tmp
.Python
local.cfg
_build
pip-selfcheck.json

# Side effect of installing from wheels
# See https://bitbucket.org/pypa/wheel/issue/120/
share
selenium
local
/dist/
/doc/
/man/
/.cache/
*.egg-info
